body{
  background: #292A2E;
}

button{
  position: relative;
  width: 10vh;
  height: 10vh;
  background: #545454;
  color: #E8F5F8;
  border-radius: 8px;
  font-size: 36px;
  margin: 2px 2px;
  border: none;
  white-space: nowrap;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}


div {
  background: linear-gradient(91.62deg, #6D7CFF 8.7%, #F36DF6 84.05%);
  width: 10.5vh;
  height: 10.5vh;
  margin: 6px 6px;
  border-radius: 8px;
  white-space: nowrap;
  display: inline-block
}

p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8D8D8D;
}

.a {
  font-family: Roboto;
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #8D8D8D;
}